@import "@fontsource-variable/outfit/wght.css";
/* 12px = 0.75rem */
/* 14px = 0.875rem */
/* 15px = 0.9375rem */
/* 16px = 1rem */
/* 18px = 1.125rem */
/* 20px = 1.25rem */
/* 24px = 1.5rem */
/* 32px = 2rem */
:root {
  /* colors */
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --base-font-size: 15px;
  --font-sans-serif: "Outfit Variable", sans-serif;

  --fw-regular: 400;
  --fw-bold: 700;

  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-500: 2.5rem;

  --br-sm: 0.625rem;
  --br-lg: 1.25rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-sans-serif);
  background-color: var(--slate-300);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: var(--spacing-200);
  margin: 0;
  text-align: center;
  color: var(--slate-900);
  font-size: var(--base-font-size);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

img {
  max-width: 100%;
  border-radius: var(--br-sm);
}

h1,
p {
  padding: 0;
  margin: 0;
}

.qr-code {
  max-width: 20rem;
  padding: var(--spacing-200);
  padding-bottom: var(--spacing-500);
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  border-radius: var(--br-lg);
}

.qr-code-text {
  padding: 0 var(--spacing-200);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-200);
}

.text-preset-1 {
  font-weight: var(--fw-bold);
  font-size: 1.375rem;
  line-height: 1.2;
}

.text-preset-2 {
  font-size: 0.9375rem;
  line-height: 1.4;
  letter-spacing: 0.2px;
  font-weight: var(--fw-regular);
}
