---
import Layout from "../layouts/Layout.astro";
import QrCode from "../assets/image-qr-code.png";
import "../styles/global.css";
---

<Layout>
  <main>
    <section class="qr-code" aria-labelledby="qr-code-title">
      <img src={QrCode.src} alt="QR code linking to Frontend Mentor" />
      <div class="qr-code-text">
        <h1 id="qr-code-title" class="text-preset-1">
          Improve your front-end skills by building projects
        </h1>

        <p class="text-preset-2">
          Scan the QR code to visit Frontend Mentor and take your coding skills
          to the next level
        </p>
      </div>
    </section>
  </main>
</Layout>

<style>
  .attribution {
    font-size: 0.6875rem;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
</style>
